*{
    /* margin: 0px;
    padding: 0px; */
    font-family: monospace;
}

/* header{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
 
} */
body{
   
}

.nav-bar{   
    /* width: 100%; */
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    /* margin-left: 10px; */
    color: white;
    display: inline;
    padding: 10px;
   
   
}
.logo h3{
    color: white;
    
}
.logo a{
    text-decoration: none;
 
}
ul li{
  /* text-decoration: none; */
  display: inline-block;
 

}
ul li a{
    text-decoration: none;
    color: white; 
    margin-right: 10px;  
    
}
.navBarIcon:hover{
    color: whitesmoke;
}

.hero
{
    background: url("./images/photo1.jpeg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 18px;
 
}

.text p{
    color: white;
}
.button{
   padding: 10px;
}
.button button{
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.button button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 0.8s ease;

}
.heading h2{
    color: white;
}
.heading6{
    color: white;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
     
}
div.heading
{
    width: 300px;
    background-color:aquamarine;
    margin-top: 30px;
    padding: 30px;
    /* display: flex;
    flex-direction: column;
    width: 200px;
   
    margin-top: 30px;
    padding: 10px;
    align-items: center; */
}
/* div.heading2
{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 30px;
    background-color: aquamarine;
    padding: 10px;
    align-items: center;
}
div.heading3
{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color:aquamarine;
    margin-top: 30px;
    padding: 10px;
    align-items: center;
} */
.container2{
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
    border-radius: 3px;
    justify-content: center;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
  
}

.para{
    margin-bottom: 20px;
}
.container3{
  
    display: flex;
    flex-direction: column;
    text-align: center;
    

}
input{
    height: 30px;
}
input,textarea{
    width: 80%;
    border: 2px solid black;
    border-radius: 3px;

}
#btn-lg{
    background-color: black;
    color: white;
    padding: auto;
}
#btn-lg:hover{
    background-color: transparent;
    color: black;
    font-weight: bold;
    transition: 0.8s ease;
}


